:root {
    --heading-size: 1.5rem;
    --font-size: 1rem;
    --big-padding: 1rem;
    --normal-padding: 0.5rem;
    --small-padding: 0.25rem;
    --big-margin: 1rem;
    --normal-margin: 0.5rem;
    --small-margin: 0.25rem;
    --theme-color1: #f06;
    --theme-color2: #4a90e2;
    --theme-color3: #45a049;
    --text-color: white;
    --content-color: black;
}

/* Reset some basic elements */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, var(--theme-color1), var(--theme-color2));
    color: var(--content-color);
}

/* Flexbox container for centering content */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */
.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
    position: fixed;
    bottom: 0; /* Move the navbar to the bottom */
    left: 0;
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2); /* Adjust shadow direction */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.3s;
}

.navbar li a:active {
    background-color: gray; /* Flash gray when pressed */
}

.navbar li a i {
    margin: var(--normal-margin); /* Add some space between the icon and the text */
    font-size: var(--heading-size);
    color: var(--text-color)/* Adjust the size of the icons */
}

/* Container for the menu */
.menu-container {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: var(--big-padding);
    width: 95%;
    max-height: 80%;
    max-width: 50rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 2.5rem;
}

/* Headings */
h1 {
    font-size: var(--heading-size);
    margin-bottom: var(--normal-margin);
    color: var(--content-color);
}

/* Labels */
label {
    font-size: var(--font-size);
    margin-bottom: var(--small-margin);
    color: var(--content-color);
    display: block;
}

/* Select elements */
select {
    width: 100%;
    padding: var(--small-padding);
    font-size: var(--font-size);
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    margin-bottom: var(--normal-margin);
    box-shadow: inset 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

select:focus {
    border-color: var(--theme-color3);
    outline: none;
    box-shadow: 0 0 0.3125rem rgba(81, 203, 238, 1);
}

/* Menu options */
.menu-options {
    display: flex;
    flex-direction: column;
    gap: var(--normal-margin);
}

/* Player options */
.player-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: var(--normal-margin);
}

/* Buttons */
button {
    background-color: var(--theme-color3);
    color: var(--text-color);
    padding: var(--normal-padding);
    border: none;
    border-radius: 0.375rem;
    font-size: var(--font-size);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--theme-color3);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0.3125rem rgba(81, 203, 238, 1);
}

.data-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    table-layout: fixed;
}

.narrow-data-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.data-table th, .data-table td, .narrow-data-table th, .narrow-data-table td {
    border: 1px solid #ddd;
    padding: var(--small-padding);
    word-wrap: break-word;
}

.data-table th, .narrow-data-table th {
    background-color: var(--theme-color3);
    color: var(--text-color);
}

.data-table tbody tr:nth-child(even), .narrow-data-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: var(--big-padding);
    border: 1px solid #888;
    width: 80%;
    max-width: 25rem;
    text-align: center;
    border-radius: 0.375rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Input fields */
input[type="text"], select {
    width: calc(100% - var(--big-padding));
    padding: var(--small-padding);
    margin-top: var(--normal-margin);
    margin-bottom: var(--normal-margin);
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    box-sizing: border-box;
}

/* Player select */
.player-select {
    display: flex;
    align-items: center;
}

.player-select label {
    flex: 1;
    margin-right: var(--small-margin);
    margin-left: var(--small-margin);
    margin-bottom: var(--small-margin);
    color: #333;
}

.player-select select {
    flex: 2;
    margin-bottom: var(--normal-margin);
}

/* Loading overlay */
#loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
    line-height: 100vh;
    z-index: 9000;
}